# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps

# Directories from other sources
Adafruit/
Adafruit-Eagle-Library/
Arduino/
DP_Eagle_Part_Library/
SparkFun/
SparkFun_Eagle_Settings/
SparkFun-Eagle-Libraries/
Sick_of_Beige/

